* {
    margin: 0;
}

html, body {
    font-family: sans-serif;
    background-color:rgb(43, 41, 41);
    color: white;
    margin: 0;
}

.wrapper {
    background-color:rgb(54, 54, 54);
    max-width: 1200px;
    margin: auto;
    position: relative;
    min-height: 95vh;
}

.header-bar{
    background-color:rgb(104, 53, 53);
    width: 100%;
    height: 6vh;
}


.header{
    max-width: 1200px;
    margin: auto;
    height: 6vh;
}

.header-text-1 {
    margin: 0;
    padding-left: 20px;
    font-size: 2em;
}

.header-text-2 {
    margin: 0;
    padding-left: 20px;
    font-size: 1em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    border-top: 1px rgb(104, 53, 53) solid;
}

.footer-text {
    margin: auto;
    text-align: center;
}

.flag-buttons {
    width: 100%;
    display: flex;
}

.btn {
    width: 200px;
    height: 100px;
    background-color: wheat;
    margin: 20px 100px;
    cursor: pointer;
}

.info {
    text-align: center;
    padding-top: 30px;
}

.json-containter {
    width: 100%;
    padding-top: 30px;
}